body {
	
	background-image: url("hatter.jpg"); 
}
.hope{
  position:fixed;
  right:0;
  bottom:15%;
  background-color:black;
  color: white;
  border-radius:5%;
 
}
.nice {
	 list-style-type:none;
	position: relative;
	right: 20px;
	top:7px;
	  
}
.music{
	
	border-radius:5px;
	display: flex;
  justify-content: center;
  align-items: center 	
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
}

a:hover, a:active {
  background-color: #660033;
}

textarea{
	
	width:400px;
	height: 80px;
	background-color:#fff;
	resize: none;
	text-align: center;
	border-radius: 5px;
}

button {
	width:100px;
	height:40px;
	background-color: #660066;
	border: none;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
input{
	background-color: #2e0363;
	color: #fff;
	border-radius: 5px;
}
.szoveg{
	color:#660066;
	text-align: center;
	font-size: 18px;
}

.bejegyzes{
	width:60%;
	margin: auto;
	padding: 10px;
}

.profile{
	color:#660066;
	text-align: center;
	font-size: 18px;
}

.avatar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	border-radius: 50%;
}

.footer{
	 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.comments{
	width:800px;
	padding:10px;
	background-color: white;
	border-radius:5px;
	margin-bottom:5px;
	
}
.anon{
	 font-family: "Lucida Console", Courier, monospace;
	 font-weight: bold;
}

.datum{
	font-size:12px;
}




